body {
    direction: rtl;
}

body,a{
    margin: 0;
}


.package {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    background-color: #cccccc; 
    height: 136px;
}


.logo {
    height: 100%;
    display: flex;
    align-items: center;
    
}

#logo-img {
    max-height: 100px; 
}

.searchbox,.date {
    height: 30px;
    width: 144px;
    background-color: #ffffff;
    margin: 0 10%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.searchbox input{
    width: 70%;
    height: 50%;
    margin-left: 15px;
    direction: ltr;
    border: none;
    outline: none;
}


#magnifier {
    width: 20px;
    height: 20px;
    margin-right: 10px ;
}

